In [1]:
print('ok')

ok

In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library
import io
import requests

In [2]:
conda install -c anaconda xlrd --yes

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - xlrd


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    numpy-base-1.15.4          |   py36h81de0dd_0         4.2 MB  anaconda
    numpy-1.15.4               |   py36h1d66e8a_0          35 KB  anaconda
    openssl-1.1.1              |       h7b6447c_0         5.0 MB  anaconda
    mkl_fft-1.0.6              |   py36h7dd41cf_0         150 KB  anaconda
    certifi-2019.11.28         |           py36_0         156 KB  anaconda
    blas-1.0                   |              mkl           6 KB  anaconda
    scipy-1.1.0                |   py36hfa4b5c9_1        18.0 MB  anaconda
    xlrd-1.2.0                 |             py_0         108 KB  anaconda
    mkl_random-1.0.1           |   py36h4414c95_1         373 KB  anaconda
    scikit-learn-0.20.1        |   py36h4989274_0         5.7 MB  anaconda
    ------------------------------------------------------------
                                           Total:        33.7 MB

The following packages will be UPDATED:

    certifi:      2019.9.11-py36_0                       conda-forge --> 2019.11.28-py36_0     anaconda
    mkl_fft:      1.0.4-py37h4414c95_1                               --> 1.0.6-py36h7dd41cf_0  anaconda
    mkl_random:   1.0.1-py37h4414c95_1                               --> 1.0.1-py36h4414c95_1  anaconda
    numpy-base:   1.15.1-py37h81de0dd_0                              --> 1.15.4-py36h81de0dd_0 anaconda
    openssl:      1.1.1d-h516909a_0                      conda-forge --> 1.1.1-h7b6447c_0      anaconda
    xlrd:         1.1.0-py37_1                                       --> 1.2.0-py_0            anaconda

The following packages will be DOWNGRADED:

    blas:         1.1-openblas                           conda-forge --> 1.0-mkl               anaconda
    numpy:        1.16.2-py36_blas_openblash1522bff_0    conda-forge [blas_openblas] --> 1.15.4-py36h1d66e8a_0 anaconda
    scikit-learn: 0.20.1-py36_blas_openblashebff5e3_1200 conda-forge [blas_openblas] --> 0.20.1-py36h4989274_0 anaconda
    scipy:        1.2.1-py36_blas_openblash1522bff_0     conda-forge [blas_openblas] --> 1.1.0-py36hfa4b5c9_1  anaconda


Downloading and Extracting Packages
numpy-base-1.15.4    | 4.2 MB    | ##################################### | 100%
numpy-1.15.4         | 35 KB     | ##################################### | 100%
openssl-1.1.1        | 5.0 MB    | ##################################### | 100%
mkl_fft-1.0.6        | 150 KB    | ##################################### | 100%
certifi-2019.11.28   | 156 KB    | ##################################### | 100%
blas-1.0             | 6 KB      | ##################################### | 100%
scipy-1.1.0          | 18.0 MB   | ##################################### | 100%
xlrd-1.2.0           | 108 KB    | ##################################### | 100%
mkl_random-1.0.1     | 373 KB    | ##################################### | 100%
scikit-learn-0.20.1  | 5.7 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [3]:
conda install openpyxl

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - openpyxl


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    et_xmlfile-1.0.1           |           py36_0          20 KB
    certifi-2019.11.28         |           py36_0         156 KB
    jdcal-1.4.1                |             py_0          11 KB
    openpyxl-3.0.2             |             py_0         158 KB
    openssl-1.1.1d             |       h7b6447c_3         3.7 MB
    ------------------------------------------------------------
                                           Total:         4.1 MB

The following packages will be UPDATED:

    certifi:    2019.11.28-py36_0 anaconda --> 2019.11.28-py36_0
    et_xmlfile: 1.0.1-py37_0               --> 1.0.1-py36_0
    jdcal:      1.4-py37_0                 --> 1.4.1-py_0
    openpyxl:   2.5.6-py37_0               --> 3.0.2-py_0

The following packages will be DOWNGRADED:

    openssl:    1.1.1-h7b6447c_0  anaconda --> 1.1.1d-h7b6447c_3


Downloading and Extracting Packages
et_xmlfile-1.0.1     | 20 KB     | ##################################### | 100%
certifi-2019.11.28   | 156 KB    | ##################################### | 100%
jdcal-1.4.1          | 11 KB     | ##################################### | 100%
openpyxl-3.0.2       | 158 KB    | ##################################### | 100%
openssl-1.1.1d       | 3.7 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

###STARTTTTTT

In [2]:
#Reading the file

df = pd.read_excel('xxx.xlsx')

In [3]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
len(df)

479

In [5]:
for index, row in df.iterrows():
    L=[]
    n=0
    for char in df['FormH'][index]:
        if char in ["W","D","L"]:
            n+=1
            L.append(char)
    df.at[index, 'FormH'] = L
for index, row in df.iterrows():
    L=[]
    n=0
    for char in df['FormA'][index]:
        if char in ["W","D","L"]:
            n+=1
            L.append(char)
    df.at[index, 'FormA'] = L

for index, row in df.iterrows():
    for char in df['Result'][index]:
        if char in ["H","D","A"]:
            df.at[index, 'Result'] = char

In [10]:
df.head(1)

,Home,FormH,Sum,EloH,Away,FormA,SumA,EloA,Result,PH,PD,PA
0,Norwich,"[L, L, D, L, L, L, W]",3,1603,Arsenal,"[D, W, L, D, D, L, D]",6,1813,D,25.0,23.3,55.6

In [7]:
for index, row in df.iterrows():
    df.at[index, 'DivSum'] = df['Sum'][index]/float(df['SumA'][index]+0.5)
    df.at[index, 'DSum'] = df['Sum'][index]-(df['SumA'][index])

In [14]:
#prob maker1

for i, row in df.iterrows():
    #h = df['Sum'][i]+3
    #a = df['SumA'][i]+3
    #d = int((a+h)*(26)/72)
    if df['Result'][i]=='H':
        h = int(df['EloH'][i]/100)+20
        a = int(df['EloA'][i]/100)+10
        d = int((a+h)*(26)/72)
        total = a+h+d
        df.at[i, 'MP_H'] = h/float(total)
        df.at[i, 'MP_D'] = d/float(total)
        df.at[i, 'MP_A'] = a/float(total)
    elif df['Result'][i]=='A':
        a = int(df['EloH'][i]/100)+20
        h = int(df['EloA'][i]/100)+10
        d = int((a+h)*(26)/72)
        total = a+h+d
        df.at[i, 'MP_H'] = h/float(total)
        df.at[i, 'MP_D'] = d/float(total)
        df.at[i, 'MP_A'] = a/float(total)
    else:
        a = int(df['EloH'][i]/100)
        h = int(df['EloA'][i]/100)
        d = int((a+h)*(26)/72)+3
        total = a+h+d
        df.at[i, 'MP_H'] = h/float(total)
        df.at[i, 'MP_D'] = d/float(total)
        df.at[i, 'MP_A'] = a/float(total)

In [15]:
df.head(20)

,Home,FormH,Sum,EloH,Away,FormA,SumA,EloA,Result,PH,PD,PA,DivSum,DSum,MP_H,MP_D,MP_A
0,Norwich,"[L, L, D, L, L, L, W]",3,1603,Arsenal,"[D, W, L, D, D, L, D]",6,1813,D,25.0,23.1,57.1,0.461538,-3.0,0.367347,0.306122,0.326531
1,Wolves,"[W, W, D, D, D, W, W]",11,1745,SheffieldUnited,"[L, D, W, D, W, D, D]",8,1673,D,52.6,28.6,23.8,1.294118,3.0,0.340426,0.297872,0.361702
2,Leicester,"[W, L, W, W, W, W, W]",12,1820,Everton,"[L, L, W, L, D, W, L]",5,1701,H,62.1,25.0,19.0,2.181818,7.0,0.431818,0.261364,0.306818
3,ManUnited,"[D, L, D, W, L, W, D]",7,1795,AstonVilla,"[D, W, W, L, L, L, W]",7,1641,D,69.0,22.2,14.3,0.933333,0.0,0.340426,0.297872,0.361702
4,Newcastle,"[L, W, L, D, W, W, L]",7,1698,ManCity,"[W, L, W, W, W, L, W]",10,1994,D,7.7,12.5,86.2,0.666667,-3.0,0.380000,0.300000,0.320000
5,Burnley,"[D, W, L, L, L, W, W]",7,1683,CrystalPalace,"[W, W, L, D, L, L, L]",5,1737,A,44.4,30.8,30.3,1.272727,2.0,0.317647,0.258824,0.423529
6,Chelsea,"[W, W, W, W, W, W, L]",12,1868,WestHam,"[D, L, L, D, L, L, L]",2,1702,A,78.1,16.7,11.1,4.800000,10.0,0.306818,0.261364,0.431818
7,Liverpool,"[W, W, D, W, W, W, W]",13,2044,Brighton,"[L, W, L, W, W, L, L]",6,1631,H,84.7,14.3,6.7,2.000000,7.0,0.449438,0.258427,0.292135
8,Tottenham,"[W, L, D, L, D, D, W]",7,1839,Bournemouth,"[D, L, D, D, W, L, L]",5,1683,H,73.5,18.2,13.3,1.272727,2.0,0.436782,0.264368,0.298851
9,Southampton,"[L, L, D, L, L, L, D]",2,1639,Watford,"[L, D, D, D, L, W, L]",5,1627,H,47.6,29.4,28.6,0.363636,-3.0,0.428571,0.261905,0.309524
10,Sevilla,"[L, W, W, D, D, W, W]",10,1801,Leganes,"[L, L, W, L, L, D, L]",3,1614,H,63.7,25.0,16.7,2.857143,7.0,0.436782,0.264368,0.298851
11,Bilbao,"[L, D, L, W, D, W, W]",8,1756,Granada,"[L, W, W, L, L, L, D]",5,1653,H,58.8,29.4,16.7,1.454545,3.0,0.435294,0.258824,0.305882
12,Espanyol,"[L, L, W, L, L, L, D]",3,1665,Osasuna,"[W, L, W, D, W, D, L]",8,1691,A,46.5,32.3,27.8,0.352941,-5.0,0.309524,0.261905,0.428571
13,Getafe,"[W, W, L, W, W, D, D]",10,1768,Levante,"[W, L, L, W, W, L, W]",8,1691,H,60.2,26.3,18.2,1.176471,2.0,0.435294,0.258824,0.305882
14,Atletico,"[D, D, W, D, D, W, D]",9,1847,Barcelona,"[W, W, W, W, L, W, W]",12,1980,A,36.4,30.3,38.5,0.720000,-3.0,0.318681,0.263736,0.417582
15,Alaves,"[L, W, L, D, L, W, W]",7,1686,RealMadrid,"[D, W, L, W, D, W, W]",10,1862,A,15.4,23.1,66.7,0.666667,-3.0,0.321839,0.264368,0.413793
16,Sociedad,"[L, W, W, L, W, D, L]",7,1750,Eibar,"[D, L, L, W, W, L, L]",5,1672,H,58.1,26.7,20.0,1.272727,2.0,0.435294,0.258824,0.305882
17,Mallorca,"[W, W, L, D, L, W, L]",7,1574,Betis,"[D, L, L, W, D, L, W]",6,1686,A,38.2,30.3,37.0,1.076923,1.0,0.313253,0.265060,0.421687
18,Valencia,"[W, D, L, D, W, W, L]",8,1796,Villarreal,"[L, W, W, L, D, L, L]",5,1710,H,41.7,29.4,34.5,1.454545,3.0,0.425287,0.264368,0.310345
19,Celta,"[W, L, L, L, L, L, W]",4,1658,Valladolid,"[D, D, W, L, W, L, L]",6,1649,D,57.1,27.8,20.0,0.615385,-2.0,0.347826,0.304348,0.347826

In [12]:
#GOOD ODDS

n=0
for index, row in df.iterrows():
    if (df["Result"][index]=='H' and df["PH"][index]> df["PA"][index]) or (df["Result"][index]=='A' and df["PA"][index]> df["PH"][index]):
        n+=1
n/len(df)

0.5258855585831063

In [13]:
#BAD ODDS

d = df[["Home","Away","Result","PH","PD","PA"]]
n=0
for index, row in df.iterrows():
    if (df["Result"][index]=='H' and df["PH"][index]<33) or (df["Result"][index]=='A' and df["PA"][index]<33):
        n+=1
        print (index)
n/len(df)

5
6
12
24
28
44
47
52
55
61
65
67
71
80
81
85
96
99
102
107
111
129
133
138
143
147
151
161
163
166
168
176
198
203
223
234
238
239
247
250
254
266
271
277
283
289
291
292
294
300
304
306
312
313
321
322
331
338
343
349
352
357
362

0.17166212534059946

In [21]:
#GOOD ELO
m=n=0
for index, row in df.iterrows():
    if (df["EloH"][index]>df["EloA"][index]+50) or df["EloA"][index]>(df["EloH"][index]+50) :
        n+=1
    if (df["EloH"][index]>df["EloA"][index]+50 and df["Result"][index]=='H') or (df["EloA"][index]>df["EloH"][index]+50 and df["Result"][index]=='A'):
        m+=1
print (m/float(n))

0.60546875

In [13]:
n = w1 =w2= 0
strongh=stronga=d=0
for index, row in df.iterrows():
    n+=1
    if df["Sum"][index]> df["SumA"][index] and df["Result"][index]=="H":
        strongh+=1
    if df["Sum"][index]< df["SumA"][index] and df["Result"][index]=="A":
        stronga+=1
    if df["Result"][index]=="D":
        d+=1
    if df["Sum"][index]- df["SumA"][index] >= 5 and df["Result"][index] in ["A","D"]:
        w1+=1
    if df["SumA"][index]- df["Sum"][index] >= 5 and df["Result"][index] in ["H","D"]:
        w1+=1
    #and draws
    #if df["Sum"][index]- df["SumA"][index] >= 2 and df["Result"][index]=="D":

In [14]:
print('strong home:', strongh)
print('strong away:', stronga)

strong home: 97
strong away: 63

In [38]:
dfw = pd.DataFrame(columns=['H', 'A', 'R'])
dfw

Empty DataFrame
Columns: [H, A, R]
Index: []

In [40]:
#weak teams with dif>=2 and elod>100

n = w1 =w2= 0
for index, row in df.iterrows():
    n+=1
    if df["Sum"][index] > df["SumA"][index]+1 and df["EloH"][index] > df["EloA"][index]+100 and df["Result"][index] in ['A','D']:
        w1+=1
        dfw = dfw.append({'H': df["Home"][index], 'A': df["Away"][index], 'R': df["Result"][index]}, ignore_index=True)
    if df["Sum"][index]+1 < df["SumA"][index] and df["EloH"][index]+100 < df["EloA"][index] and df["Result"][index] in ['H','D']:
        dfw = dfw.append({'H': df["Home"][index], 'A': df["Away"][index], 'R' : df["Result"][index]}, ignore_index=True)
        w1+=1

In [42]:
dfw

              H              A  R
0       Norwich        Arsenal  D
1     Newcastle        ManCity  D
2       Chelsea        WestHam  A
3      Juventus       Sassuolo  D
4        Napoli        Bologna  A
5    Hoffenheim    Duesseldorf  D
6        Bayern     Leverkusen  A
7       Utrecht       Waalwijk  A
8       Sittard      Groningen  H
9      Oostende     Anderlecht  H
10      Setubal      Guimaraes  D
11   GilVicente       Sporting  H
12     Barnsley           Hull  H
13   Osnabrueck        Hamburg  H
14  Fuenlabrada          Cadiz  H
15     Brighton         Wolves  D
16      Everton        Chelsea  H
17      ManCity      ManUnited  A
18       Werder      Paderborn  A
19    Frankfurt         Hertha  D
20    Bielefeld      Karlsruhe  D
21      Osasuna        Sevilla  D
22   Villarreal       Atletico  D
23         Ajax       WillemII  A
24     Mouscron       Standard  D
25   Belenenses          Porto  D
26         Aves          Braga  H
27      Chelsea    Bournemouth  A
28    Leicester        Norwich  D
29        Koeln     Leverkusen  H
30      Bologna       Atalanta  H
31   Fiorentina          Inter  D
32     Sociedad      Barcelona  D
33         Metz      Marseille  D
34     Oostende           Gent  H
35        Braga  PacosFerreira  A

In [23]:
#weak teams with dif>=2 

n = w1 =w2= 0
for index, row in df.iterrows():
    n+=1
    if df["Sum"][index] > df["SumA"][index]+2  and df["Result"][index] in ['A','D']:
        w1+=1
    if df["Sum"][index]+2 < df["SumA"][index]  and df["Result"][index] in ['H','D']:
        w1+=1

In [24]:
w1/367

0.24250681198910082

In [79]:

writer = pd.ExcelWriter('PythonExport.xlsx')
dfw.to_excel(writer,'Sheet1')
writer.save()