In [1]:
#FORM MAKER

In [2]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library
from PIL import Image # converting images into arrays
import io
import requests

In [86]:
url = "https://www.football-data.co.uk/mmz4281/1920/E0.csv"
s = requests.get(url).content
df = pd.read_csv(io.StringIO(s.decode('utf-8')))
""""
L=["https://www.football-data.co.uk/mmz4281/1920/P1.csv", "https://www.football-data.co.uk/mmz4281/1920/B1.csv", "https://www.football-data.co.uk/mmz4281/1920/N1.csv", "https://www.football-data.co.uk/mmz4281/1920/F2.csv", "https://www.football-data.co.uk/mmz4281/1920/F1.csv", "https://www.football-data.co.uk/mmz4281/1920/SP2.csv", "https://www.football-data.co.uk/mmz4281/1920/SP1.csv", "https://www.football-data.co.uk/mmz4281/1920/I2.csv", "https://www.football-data.co.uk/mmz4281/1920/I1.csv", "https://www.football-data.co.uk/mmz4281/1920/D2.csv", "https://www.football-data.co.uk/mmz4281/1920/E1.csv", "https://www.football-data.co.uk/mmz4281/1920/D1.csv", "https://www.football-data.co.uk/mmz4281/1920/D2.csv"]
for url in  L:
    #print (url)
    s = requests.get(url).content
    d = pd.read_csv(io.StringIO(s.decode('utf-8')))
    df = df.append(d)
"""

'"\nL=["https://www.football-data.co.uk/mmz4281/1920/P1.csv", "https://www.football-data.co.uk/mmz4281/1920/B1.csv", "https://www.football-data.co.uk/mmz4281/1920/N1.csv", "https://www.football-data.co.uk/mmz4281/1920/F2.csv", "https://www.football-data.co.uk/mmz4281/1920/F1.csv", "https://www.football-data.co.uk/mmz4281/1920/SP2.csv", "https://www.football-data.co.uk/mmz4281/1920/SP1.csv", "https://www.football-data.co.uk/mmz4281/1920/I2.csv", "https://www.football-data.co.uk/mmz4281/1920/I1.csv", "https://www.football-data.co.uk/mmz4281/1920/D2.csv", "https://www.football-data.co.uk/mmz4281/1920/E1.csv", "https://www.football-data.co.uk/mmz4281/1920/D1.csv", "https://www.football-data.co.uk/mmz4281/1920/D2.csv"]\nfor url in  L:\n    #print (url)\n    s = requests.get(url).content\n    d = pd.read_csv(io.StringIO(s.decode(\'utf-8\')))\n    df = df.append(d)\n'

In [71]:
df.shape

(209, 106)

In [75]:
T = tmaker(df)
F = fmaker(df,T)

In [73]:
def tmaker(df):
    teams=[]
    for i, row in df.iterrows():
        if df['HomeTeam'][i] not in teams:
            teams.append(df['HomeTeam'][i])
    return (teams)
    
def fmaker(df,teams):
    forms=[]
    for team in teams:
        n=0
        st=""
        end = len(df) -1
        for i in range(end,0,-1):
            if df['HomeTeam'][i] == team and df['FTR'][i] == 'H':
                st='W '+st
                n+=1
            elif df['HomeTeam'][i] == team and df['FTR'][i] == 'D':
                st='D '+st
                n+=1
            elif df['HomeTeam'][i] == team and df['FTR'][i] == 'A':
                st='L '+st
                n+=1
            elif df['AwayTeam'][i] == team and df['FTR'][i] == 'A':
                st='W '+st
                n+=1
            elif df['AwayTeam'][i] == team and df['FTR'][i] == 'D':
                st='D '+st
                n+=1
            elif df['AwayTeam'][i] == team and df['FTR'][i] == 'H':
                st='L '+st
                n+=1
            if n==7:
                break
        forms.append(st)
    return (forms)

In [78]:
L=["https://www.football-data.co.uk/mmz4281/1920/E0.csv", "https://www.football-data.co.uk/mmz4281/1920/P1.csv", "https://www.football-data.co.uk/mmz4281/1920/B1.csv", "https://www.football-data.co.uk/mmz4281/1920/N1.csv", "https://www.football-data.co.uk/mmz4281/1920/F2.csv", "https://www.football-data.co.uk/mmz4281/1920/F1.csv", "https://www.football-data.co.uk/mmz4281/1920/SP2.csv", "https://www.football-data.co.uk/mmz4281/1920/SP1.csv", "https://www.football-data.co.uk/mmz4281/1920/I2.csv", "https://www.football-data.co.uk/mmz4281/1920/I1.csv", "https://www.football-data.co.uk/mmz4281/1920/D2.csv", "https://www.football-data.co.uk/mmz4281/1920/E1.csv", "https://www.football-data.co.uk/mmz4281/1920/D1.csv", "https://www.football-data.co.uk/mmz4281/1920/D2.csv"]
teams = forms = []
for url in  L:
    #print (url)
    s = requests.get(url).content
    df = pd.read_csv(io.StringIO(s.decode('utf-8')))
    
    T = tmaker(df)
    F = fmaker(df,T)
    teams=teams+T
    forms=forms+F

In [79]:
form = pd.DataFrame(list(zip(teams, forms)), 
               columns =['Team', 'Form'])

In [81]:
form

               Team            Form
0         Liverpool  W W W W W W W
1          West Ham  W L L W L L W
2       Bournemouth  L L W L D L L
3           Burnley  L L W W L L L
4    Crystal Palace  W D D L W D D
..              ...             ...
267        Hannover  D L L W W L D
268      Heidenheim  D W L W W D W
269       Darmstadt  L D W L D D D
270  Erzgebirge Aue  D D W L L W W
271        Nurnberg  L L D L L D W

[272 rows x 2 columns]

In [17]:
dfx.drop(['Unnamed: 0'], axis=1, inplace=True)
dfx = dfx[['Home', 'FormH', 'Sum', 'EloH', 'Away', 'FormA', 'SumA', 'EloA', 'Result' ]]

In [18]:
dfx

,Home,FormH,Sum,EloH,Away,FormA,SumA,EloA,Result
0,Norwich,LÂ Â LÂ Â DÂ Â LÂ Â LÂ Â LÂ Â W,3,1603,Arsenal,DÂ Â WÂ Â LÂ Â DÂ Â DÂ Â LÂ Â D,6,1813,D
1,Wolves,WÂ Â WÂ Â DÂ Â DÂ Â DÂ Â WÂ Â W,11,1745,SheffieldUnited,LÂ Â DÂ Â WÂ Â DÂ Â WÂ Â DÂ Â D,8,1673,D
2,Leicester,WÂ Â LÂ Â WÂ Â WÂ Â WÂ Â WÂ Â W,12,1820,Everton,LÂ Â LÂ Â WÂ Â LÂ Â DÂ Â WÂ Â L,5,1701,H
3,ManUnited,DÂ Â LÂ Â DÂ Â WÂ Â LÂ Â WÂ Â D,7,1795,AstonVilla,DÂ Â WÂ Â WÂ Â LÂ Â LÂ Â LÂ Â W,7,1641,D
4,Newcastle,LÂ Â WÂ Â LÂ Â DÂ Â WÂ Â WÂ Â L,7,1698,ManCity,WÂ Â LÂ Â WÂ Â WÂ Â WÂ Â LÂ Â W,10,1994,D
...,...,...,...,...,...,...,...,...,...
494,Preston,LÂ Â LÂ Â WÂ Â WÂ Â DÂ Â DÂ Â L,6,1501,Middlesbrough,LÂ Â WÂ Â DÂ Â LÂ Â WÂ Â WÂ Â W,9,1523,A
495,QPR,DÂ Â WÂ Â WÂ Â LÂ Â DÂ Â LÂ Â L,6,1457,Cardiff,WÂ Â WÂ Â LÂ Â DÂ Â DÂ Â DÂ Â W,9,1554,H
496,SheffieldWeds,WÂ Â WÂ Â DÂ Â WÂ Â WÂ Â LÂ Â L,9,1539,Hull,LÂ Â WÂ Â LÂ Â DÂ Â WÂ Â LÂ Â W,7,1522,A
497,WestBrom,WÂ Â WÂ Â DÂ Â WÂ Â DÂ Â DÂ Â L,9,1624,Leeds,WÂ Â WÂ Â WÂ Â DÂ Â LÂ Â DÂ Â W,10,1607,D
498,Derby,DÂ Â LÂ Â DÂ Â LÂ Â LÂ Â DÂ Â W,5,1499,Charlton,LÂ Â LÂ Â LÂ Â DÂ Â DÂ Â WÂ Â L,4,1420,H

In [19]:
dfx.insert(9, "PH", 0.0) 
dfx.insert(10,"PD",0.0)
dfx.insert(11,"PA",0.0)

In [20]:
dfw = dfw[['Date','HomeTeam', 'AwayTeam','FTR','B365H','B365D','B365A']]
dfw.rename(columns={'HomeTeam':'Home', 'AwayTeam':'Away'}, inplace=True)
dfw= dfw.reset_index()

In [21]:
#team names of dfw = team names dfx

for i in range(len(dfw)):
    s=""
    for char in dfw['Home'][i]:
        if char!=" ":
            s+=char
    dfw.at[i, 'Home'] = s
    if dfw['Home'][i]=='EinFrankfurt':
        dfw.at[i, 'Home'] = 'Frankfurt'
    if dfw['Home'][i]=="Chambly":
        dfw.at[i, 'Home'] = 'ChamblyOise'
    if dfw['Home'][i]=="LaCoruna":
        dfw.at[i, 'Home'] = 'Depor'
    if dfw['Home'][i]=="Vallecano":
        dfw.at[i, 'Home'] = 'RayoVallecano'
    if dfw['Home'][i]=="SpGijon":
        dfw.at[i, 'Home'] = 'Gijon'
    if dfw['Home'][i]=="ExtremaduraUD":
        dfw.at[i, 'Home'] = 'Extremadura'
    if dfw['Home'][i]=="HolsteinKiel":
        dfw.at[i, 'Home'] = 'Holstein'
    if dfw['Home'][i]=="ErzgebirgeAue":
        dfw.at[i, 'Home'] = 'Aue'
    if dfw['Home'][i]=="GreutherFurth":
        dfw.at[i, 'Home'] = 'Fuerth'
    if dfw['Home'][i]=="Osnabruck":
        dfw.at[i, 'Home'] = 'Osnabrueck'
    if dfw['Home'][i]=="Nurnberg":
        dfw.at[i, 'Home'] = 'Nuernberg'
    if dfw['Home'][i]=="VirtusEntella":
        dfw.at[i, 'Home'] = 'Entella'
    if dfw['Home'][i]=="Nott'mForest":
        dfw.at[i, 'Home'] = 'Forest'
    if dfw['Home'][i]=="SpLisbon":
        dfw.at[i, 'Home'] = 'Sporting'
    if dfw['Home'][i]=="SpBraga":
        dfw.at[i, 'Home'] = 'Braga'
    if dfw['Home'][i]=="Waregem":
        dfw.at[i, 'Home'] = 'ZulteWaregem'
    if dfw['Home'][i]=="ClubBrugge":
        dfw.at[i, 'Home'] = 'CercleBrugge'
    if dfw['Home'][i]=="Waasland-Beveren":
        dfw.at[i, 'Home'] = 'Beveren'
    if dfw['Home'][i]=="PSVEindhoven":
        dfw.at[i, 'Home'] = 'PSV'
    if dfw['Home'][i]=="VVVVenlo":
        dfw.at[i, 'Home'] = 'Venlo'
    if dfw['Home'][i]=="ForSittard":
        dfw.at[i, 'Home'] = 'Sittard'
    if dfw['Home'][i]=="FCEmmen":
        dfw.at[i, 'Home'] = 'Emmen'
    if dfw['Home'][i]=="AZAlkmaar":
        dfw.at[i, 'Home'] = 'Alkmaar'
    if dfw['Home'][i]=="WerderBremen":
        dfw.at[i, 'Home'] = 'Werder'
    if dfw['Home'][i]=="FortunaDusseldorf":
        dfw.at[i, 'Home'] = 'Duesseldorf'
    if dfw['Home'][i]=="Schalke04":
        dfw.at[i, 'Home'] = 'Schalke'
    if dfw['Home'][i]=="BayernMunich":
        dfw.at[i, 'Home'] = 'Bayern'
    if dfw['Home'][i]=="FCKoln":
        dfw.at[i, 'Home'] = 'Koeln'
    if dfw['Home'][i]=="M'gladbach":
        dfw.at[i, 'Home'] = 'Gladbach'
    if dfw['Home'][i]=='AthBilbao':
        dfw.at[i, 'Home'] = 'Bilbao'
    if dfw['Home'][i]=='StEtienne':
        dfw.at[i, 'Home'] = 'Saint-Etienne'
    if dfw['Home'][i]=='AthMadrid':
        dfw.at[i, 'Home'] = 'Atletico'
    if dfw['Home'][i]=='Espanol':
        dfw.at[i, 'Home'] = 'Espanyol'
    s=""
    for char in dfw['Away'][i]:
        if char!=" ":
            s+=char
    dfw.at[i, 'Away'] = s
    if dfw['Away'][i]=="Chambly":
        dfw.at[i, 'Away'] = 'ChamblyOise'
    if dfw['Away'][i]=="LaCoruna":
        dfw.at[i, 'Away'] = 'Depor'
    if dfw['Away'][i]=="Vallecano":
        dfw.at[i, 'Away'] = 'RayoVallecano'
    if dfw['Away'][i]=="SpGijon":
        dfw.at[i, 'Away'] = 'Gijon'
    if dfw['Away'][i]=="ExtremaduraUD":
        dfw.at[i, 'Away'] = 'Extremadura'
    if dfw['Away'][i]=="HolsteinKiel":
        dfw.at[i, 'Away'] = 'Holstein'
    if dfw['Away'][i]=="ErzgebirgeAue":
        dfw.at[i, 'Away'] = 'Aue'
    if dfw['Away'][i]=="GreutherFurth":
        dfw.at[i, 'Away'] = 'Fuerth'
    if dfw['Away'][i]=="Osnabruck":
        dfw.at[i, 'Away'] = 'Osnabrueck'
    if dfw['Away'][i]=="Nurnberg":
        dfw.at[i, 'Away'] = 'Nuernberg'
    if dfw['Away'][i]=="VirtusEntella":
        dfw.at[i, 'Away'] = 'Entella'
    if dfw['Away'][i]=="Nott'mForest":
        dfw.at[i, 'Away'] = 'Forest'
    if dfw['Away'][i]=="SpLisbon":
        dfw.at[i, 'Away'] = 'Sporting'
    if dfw['Away'][i]=="SpBraga":
        dfw.at[i, 'Away'] = 'Braga'
    if dfw['Away'][i]=="Waregem":
        dfw.at[i, 'Away'] = 'ZulteWaregem'
    if dfw['Away'][i]=="ClubBrugge":
        dfw.at[i, 'Away'] = 'CercleBrugge'
    if dfw['Away'][i]=="Waasland-Beveren":
        dfw.at[i, 'Away'] = 'Beveren'
    if dfw['Away'][i]=="PSVEindhoven":
        dfw.at[i, 'Away'] = 'PSV'
    if dfw['Away'][i]=="VVVVenlo":
        dfw.at[i, 'Away'] = 'Venlo'
    if dfw['Away'][i]=="ForSittard":
        dfw.at[i, 'Away'] = 'Sittard'
    if dfw['Away'][i]=="FCEmmen":
        dfw.at[i, 'Away'] = 'Emmen'
    if dfw['Away'][i]=="AZAlkmaar":
        dfw.at[i, 'Away'] = 'Alkmaar'
    if dfw['Away'][i]=="WerderBremen":
        dfw.at[i, 'Away'] = 'Werder'
    if dfw['Away'][i]=="FortunaDusseldorf":
        dfw.at[i, 'Away'] = 'Duesseldorf'
    if dfw['Away'][i]=="Schalke04":
        dfw.at[i, 'Away'] = 'Schalke'
    if dfw['Away'][i]=="BayernMunich":
        dfw.at[i, 'Away'] = 'Bayern'
    if dfw['Away'][i]=="FCKoln":
        dfw.at[i, 'Away'] = 'Koeln'
    if dfw['Away'][i]=="M'gladbach":
        dfw.at[i, 'Away'] = 'Gladbach'
    if dfw['Away'][i]=='StEtienne':
        dfw.at[i, 'Away'] = 'Saint-Etienne'
    if dfw['Away'][i]=='AthBilbao':
        dfw.at[i, 'Away'] = 'Bilbao'
    if dfw['Away'][i]=='AthMadrid':
        dfw.at[i, 'Away'] = 'Atletico'
    if dfw['Away'][i]=='Espanol':
        dfw.at[i, 'Away'] = 'Espanyol'
    if dfw['Away'][i]=='EinFrankfurt':
        dfw.at[i, 'Away'] = 'Frankfurt'

###STARTTTTTT

In [22]:
for index, row in dfx.iterrows():
    for j in range(len(dfw)):
        if dfx['Home'][index]==dfw['Home'][j] and dfx['Away'][index]==dfw['Away'][j]:
            dfx.at[index, 'PH'] = float(dfw['B365H'][j])
            dfx.at[index, 'PD'] = float(dfw['B365D'][j])
            dfx.at[index, 'PA'] = float(dfw['B365A'][j])
            #print (dfw['Home'][j],dfx['Away'][index] )
for index, row in dfx.iterrows():
    dfx.at[index, 'PH']=(100/(dfx.at[index, 'PH'])).round(1)
    dfx.at[index, 'PD']=(100/(dfx.at[index, 'PD'])).round(1)
    dfx.at[index, 'PA']=(100/(dfx.at[index, 'PA'])).round(1)

In [23]:
for index, row in dfx.iterrows():
    dfx.at[index, 'PH']=(dfx.at[index, 'PH']).round(1)
    dfx.at[index, 'PD']=((dfx.at[index, 'PD'])).round(1)
    dfx.at[index, 'PA']=((dfx.at[index, 'PA'])).round(1)

In [87]:

writer = pd.ExcelWriter('PythonExport.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()