In [1]:
#PROBABILTY MAKER FOR FUTURE GAMES

import numpy as np  
import pandas as pd 
import io
import requests

In [2]:
url = "http://api.clubelo.com/Fixtures"
s = requests.get(url).content
df = pd.read_csv(io.StringIO(s.decode('utf-8')))

df = df[['Date','Country', 'Home','Away', 'GD<-5','GD=-5','GD=-4','GD=-3','GD=-2','GD=-1','GD=0','GD=1','GD=2','GD=3','GD=4','GD=5','GD>5']]
df['A']= df.iloc[:, -13:-7].sum(axis=1)  
df['H']= df.iloc[:, -7:-1].sum(axis=1)    

df.drop(['GD<-5','GD=-5','GD=-4','GD=-3','GD=-2','GD=-1','GD=1','GD=2','GD=3','GD=4','GD=5','GD>5'], axis=1, inplace=True)
df.rename(columns={'GD=0':'D'}, inplace=True)
df = df[['Date','Country', 'Home','Away', 'H', 'D', 'A']]

In [3]:
df

          Date Country            Home      Away       H       D       A
0   2020-01-11     ENG   Middlesbrough     Derby  0.4426  0.3192  0.2381
1   2020-01-11     ENG         Chelsea   Burnley  0.6607  0.2061  0.1332
2   2020-01-11     ENG         Everton  Brighton  0.5184  0.2791  0.2023
3   2020-01-11     ENG       Brentford       QPR  0.6052  0.2253  0.1694
4   2020-01-11     ENG      Man United   Norwich  0.7197  0.1754  0.1049
..         ...     ...             ...       ...     ...     ...     ...
62  2020-01-15     ESP  Rayo Vallecano      Lugo  0.6012  0.2346  0.1642
63  2020-01-15     ESP          Huesca  Tenerife  0.5734  0.2529  0.1736
64  2020-01-15     FRA           Nimes    Rennes  0.2950  0.2729  0.4320
65  2020-01-15     FRA          Monaco  Paris SG  0.1494  0.1979  0.6527
66  2020-01-15     FRA          Amiens     Reims  0.2867  0.3024  0.4110

[67 rows x 7 columns]

In [7]:
df = df.tail(6)

In [8]:
df

          Date Country      Home        Away       H       D       A
36  2020-01-06     ITA  Atalanta       Parma  0.7204  0.1709  0.1085
37  2020-01-06     ITA  Juventus    Cagliari  0.7952  0.1379  0.0668
38  2020-01-06     ITA   Bologna  Fiorentina  0.4599  0.2881  0.2519
39  2020-01-06     ITA     Milan   Sampdoria  0.5463  0.2670  0.1863
40  2020-01-06     ITA    Napoli       Inter  0.4135  0.3039  0.2825
41  2020-01-06     ITA     Lecce     Udinese  0.3757  0.2878  0.3362

In [9]:
form = pd.read_excel('form.xlsx')

In [11]:
form.drop(['Pos', 'P','Pts', 'F','A','GD'], axis=1, inplace=True)
form

              Team                     Sequence
0            Lazio   W   W   W   W   W   W   W
1            Inter   W   W   W   W   D   D   W
2             Roma   W   L   W   W   D   W   W
3         Juventus   W   W   W   D   L   W   W
4            Parma   D   W   D   L   W   W   D
5         Cagliari   W   W   D   W   D   L   L
6         Atalanta   L   D   L   W   W   L   W
7           Torino   L   W   L   W   W   D   L
8        Sampdoria   W   D   W   L   L   W   L
9          Bologna   L   L   D   W   L   W   W
10          Verona   W   W   L   W   L   L   D
11        Sassuolo   W   L   D   D   D   W   L
12         Udinese   W   D   L   L   D   L   W
13           Milan   L   L   D   W   W   D   L
14         Brescia   L   L   L   W   W   L   D
15          Napoli   L   D   D   L   D   L   W
16           Lecce   D   L   D   W   D   L   L
17            Spal   L   D   D   L   L   L   W
18           Genoa   L   D   D   L   D   L   L
19      Fiorentina   D   L   L   L   L   D   L
20       Benevento   W   W   W   W   W   W   W
21       Pordenone   W   L   W   W   W   L   W
22  Virtus Entella   L   W   W   W   L   D   W
23     Juve Stabia   W   L   L   W   W   D   W
24          Spezia   L   W   D   W   D   D   W
25       Frosinone   L   W   W   W   L   L   D
26         Crotone   L   D   L   L   W   W   W
27          Ascoli   W   D   L   W   L   W   L
28       Cremonese   W   D   D   L   W   D   L
29      Cittadella   D   D   W   L   D   W   L
30     Salernitana   L   D   L   W   D   W   L
31         Cosenza   L   D   D   L   W   W   L
32         Perugia   L   W   D   L   W   D   L
33            Pisa   D   W   L   W   L   L   D
34          Chievo   W   L   W   L   D   L   D
35         Trapani   W   W   L   L   D   D   L
36         Pescara   D   L   D   L   D   W   D
37         Venezia   D   L   D   D   L   L   W
38          Empoli   D   L   W   L   D   L   D
39         Livorno   L   D   L   L   L   L   D

In [12]:
form = form.astype(str)

In [14]:
for i, row in df.iterrows():
    for j in range(len(form)):
        if df['Home'][i]==form['Team'][j]:
            df.at[i, 'FormH'] = form['Sequence'][j]
        if df['Away'][i]==form['Team'][j]:
            df.at[i, 'FormA'] = form['Sequence'][j]

In [15]:
df

,Date,Country,Home,Away,H,D,A,FormA,FormH
36,2020-01-06,ITA,Atalanta,Parma,0.7204,0.1709,0.1085,D W D L W W D,L D L W W L W
37,2020-01-06,ITA,Juventus,Cagliari,0.7952,0.1379,0.0668,W W D W D L L,W W W D L W W
38,2020-01-06,ITA,Bologna,Fiorentina,0.4599,0.2881,0.2519,D L L L L D L,L L D W L W W
39,2020-01-06,ITA,Milan,Sampdoria,0.5463,0.2670,0.1863,W D W L L W L,L L D W W D L
40,2020-01-06,ITA,Napoli,Inter,0.4135,0.3039,0.2825,W W W W D D W,L D D L D L W
41,2020-01-06,ITA,Lecce,Udinese,0.3757,0.2878,0.3362,W D L L D L W,D L D W D L L

In [33]:
writer = pd.ExcelWriter('PythonExport.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()